# Node / legacy
mobile/node_modules
mobile/ios/build
mobile/android/app/build
mobile/ios/Pods

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.metadata

# Go
backend/bin
backend/tmp
backend/.env
backend/api.exe

# Logs
*.log

# Editor
.vscode
.idea
.DS_Store
